*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    background-image: url("./backgroung.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    background position: center;
    min-height: 100vh;
    width: 100%;

}

.container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.wrap{
    background-color: #fff;
    padding: 3.8rem 2.9rem;
    border-radius: 1.25rem 1.25rem 1.25rem 0;
}
input{
display: block;
border: none;
padding: 18px;
margin: 1em -15px;
border: 1 solid #edf2f7;
outline: none;
font-size: 100%;
background-color:  #edf2f7;
width: 25rem;
font-family: karla, serif;
font-size: 12px;
font-weight: 600;





}
 
label{
color: #4a5568;
margin: 0 -16px;

}

select {

display: block;
border: none;
padding: 18px;
margin: 1em -15px;
border: 1 solid #edf2f7;
outline: none;
font-size: 100%;
background-color:  #edf2f7;
width: 25rem;
}
button {
border: none;
background-color: #0d60d8;
padding: 18px;
justify-content: center;
margin: 1em -17px;
border-radius: 0.8rem 0.6rem 0.6rem 0;
color: #fff;
width: 25rem;
font-weight: 70%;



}
.logo{
    padding: 40px;
    margin: 10px;

}

a {
    
    padding: 10px;
    margin: 9px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    font-family: "karla", sans-serif;
font-size: 14px;
cursor: pointer;


}


a:hover { 
    background-color: gray;
    
}


header{
padding: 0 0 2em;
text-align: center;



}

.createaccount {
    color: #083e9e;
    font-weight: 700 !important;
    font-size: 18px !important;
    word-spacing: 2px;
    font-family: U8 !important;


}

.createaccounttext {
color: #4a5568;
font-family: "Karla", sans-serif;
font-size: 15px;
}

b{
    font-size: 14px;
}

footer {
    margin: 15px;

}